
.NotFound {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.NotFound img {
    width: 250px;
}

.NotFound h1 {
    margin: 50px 0 15px 0;
}

.NotFound a {
    font-weight: 500;
    font-size: 34px;
    color: #e83a4b;
    font-family: "Lobster";
    display: flex;
    align-items: center;
    gap: 5px;
    transition: gap .25s ease-in-out;
}

.NotFound a:hover {
    gap: 20px;
}

@media(max-width: 1024px) {
    .NotFound h1 {
        margin: 20px 0;
    }
}

@media(max-width: 462px) {
.NotFound h1 {
    font-size: 32px;
}
.NotFound img  {
    width: 150px;
}
}